@import url("./fonts.css");


* {
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;

    box-sizing: border-box;
    font-family: "Montserrat";
    color: #999088;
}



.container {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-image: url(../../assets/img/background.jpg);
    height: 2000px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.cormy {
    font-family: Corm;
}

.zakaz {
    color: aliceblue;
}

p {
    font-family: Montserrat;
}

/* ГОЛОВА
ГОЛОВА
ГОЛОВА
ГОЛОВА */


header {
    margin-top: 35px;
    color: #999088;
}


header .container {
    display: flex;
    justify-content: space-between;
}

header .container .lefth {
    display: flex;

}

header .container .lefth .history {
    margin-left: 30px;
}

header .container .midh {
    display: flex;
}

.mimilo {
    font-family: 'Corm';
    font-size: 30px;
    color: #756b62;
}

header .container .righth {
    display: flex;
}

header .container .righth .principe {
    margin-right: 30px;
}

.nabor {
    margin-right: 30px;
}

.bag {
    width: 20px;
    height: 20px;
}




.section-mchg {
    margin-top: 200px;
    display: flex;
    justify-content: center;

}

.section-mchg .container {
    display: flex;
    flex-direction: column;
}

.mchg {
    display: flex;
    align-items: center;
    font-family: Corm;
    font-size: 90px;
    position: relative;
    left: 135px;
    color: #756b62;
    font-weight: 200;
}

.mchgmain {
    display: flex;
    position: relative;

}

.section-mchg .soap {
    display: flex;
    justify-content: right;
    margin-right: 100px;
}

.section-mchg .skin {
    background-image: url(../../assets/img/2.jpg);
    width: 570px;
    height: 720px;

}

.watermark {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1100px;
    bottom: -50px;
    opacity: 30%;

}

.milo {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 600px;
    left: 150px;

}

.hand {
    width: 170px;
    height: 170px;
    position: absolute;
    left: 300px;
}

.lovesoap {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}

.love {
    font-family: Corm;
    font-size: 50px;
    margin-right: 100px;
    color: #999088;
    font-style: italic;
}

.telo {
    background-image: url(../../assets/img/Body.svg);
    width: 200px;
    height: 250px;
    background-size: cover;
    position: absolute;
    left: 870px;
    bottom: -50px;
}

.section-mchg u {
    font-family: Corm;
    color: #756b62;
}

.section-collection {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.section-collection .container {
    display: flex;
    flex-direction: column;
}

.section-collection .container .linecolle {
    display: flex;
}

.section-collection .container .line {
    height: 1px;
    background-color: #999088;
    width: 60px;
    margin-top: 7px;
}

.section-collection .container .textcollection {
    color: #999088;
    margin-left: 20px;
    text-transform: uppercase;
}

.section-collection .collections {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section-collection .txtall {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}



.section-collection .price {
    margin-top: 15px;

}

.section-collection .plus {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #999088 solid 1px;

}

.section-collection .plusmain {
    font-size: 30px;
}





.section-history {
    margin-top: 400px;
}

.section-history .hisline {
    display: flex;
}


.section-history .minmain {
    margin-top: 50px;
    position: relative;
}

.section-history .topxtx {
    font-size: 50px;
    font-family: Corm;
    color: #756b62;
    font-style: italic;
}

.section-history .botttxt {
    font-family: Corm;
    font-style: italic;
    font-size: 22px;
    margin-top: 25px;
}

.section-history .creator {
    display: flex;
    margin-top: 25px;
}

.section-history .txtcreate {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-history .name {
    text-decoration: underline;
    font-weight: 500;
    color: #756b62
}

.section-history .roly {
    margin-top: 10px;
}


.section-history .woman {
    height: 70px;
    width: 70px;
    border: none solid 1px;
    border-radius: 50%;
}

.section-history .line {
    height: 1px;
    background-color: #999088;
    width: 60px;
    margin-top: 7px;
}

.section-history .textcollection {
    margin-left: 25px;
    text-transform: uppercase;
}

.section-history .ruka {
    background-image: url(../../assets/img/11.jpg);
    width: 470px;
    height: 710px;
    position: absolute;
    left: 700px;
    bottom: -260px;
}

.section-history .caple {
    background-image: url(../../assets/img/12.jpg);
    width: 270px;
    height: 270px;
    position: absolute;
    left: 390px;
    bottom: -320px;
}

.section-history .rose {
    position: relative;
    left: 410px;
    top: 280px;
}




.section-3blocks {
    margin-top: 500px;
}

.section-3blocks .container {
    display: flex;
    justify-content: space-between;
}

.section-3blocks img {
    width: 55px;
    height: 55px;
}

.section-3blocks .block {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3blocks .txt {
    font-family: Corm;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}



.section-bigtext {
    margin-top: 200px;
}

.section-bigtext .container {
    width: 1400px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.section-bigtext .bgtxtmain {
    font-size: 130px;
    font-family: Corm;
    font-style: normal;
    font-weight: 500;
    color: #bdb4ab;
    line-height: 130px;
}

.section-bigtext .woeye {
    background-image: url(../../assets/img/13.jpg);
    position: absolute;
    top: 100px;
    left: 410px;
    width: 530px;
    height: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-bigtext .txtintoimg {
    color: #efe6db;
    font-weight: 300;
    font-size: 20px;
}

.section-bigtext .read {
    margin-top: 50px;
    text-transform: uppercase;
    color: #efe6db;
    font-weight: 300;
    border: #efe6db solid 1px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    margin-left: 170px;
}



.section-images {
    margin-top: 20px;
}

.section-images .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-bigtext .instrekl {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.section-bigtext .inst {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.section-images .reklama {
    text-transform: uppercase;
    font-size: 18px;
}

.section-images u {
    font-weight: 600;
    text-decoration: underline;
}

.section-images .kartinki {
    display: flex;
    justify-content: space-between;

}

.section-images .milos {
    width: 370px;
    height: 370px;
    margin-left: 25px;
}

.section-zayav {

    background-image: url(../../assets/img/19.jpg);
    background-size: cover;
    height: 634px;
}

.section-zayav .container {
    display: flex;
    flex-direction: column;



}

.section-zayav .container .topzay {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.section-zayav .container .maintext {
    display: flex;
    flex-direction: column;

}

.section-zayav .top {
    font-size: 55px;
    font-family: Corm;
    font-style: italic;
    line-height: 60px;
    color: #756b62;
}

.section-zayav .bot {
    font-size: 24px;
    font-family: Corm;
    font-style: italic;
    margin-top: 30px;
}

.section-zayav .container .forma {
    display: flex;
    flex-direction: column;
}

.section-zayav .namephone {
    display: flex;
    flex-direction: column;
}

.section-zayav .namephone input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 470px;
    margin-top: 25px;
    padding-bottom: 8px;
    font-size: 18px;
    opacity: 60%;
}

.section-zayav .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.section-zayav .inputs .krugi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-zayav .megainput {
    display: flex;
    align-items: center;
}

.section-zayav .vozin {
    margin-left: 10px;
    opacity: 100%;
    color: #756b62;
}

.uvlop {
    width: 20px;
    height: 20px;
}

.section-zayav .kvadrat {
    display: flex;
    margin-top: 50px;
}

.section-zayav .textforkva {
    font-size: 15px;
    margin-left: 15px;
    color: #756b62;
}


.section-zayav .butter {
    display: flex;
    justify-content: center;
}

.section-zayav .send {
    margin-top: 60px;
    text-transform: uppercase;
    color: #756b62;
    font-weight: 300;
    border: #756b62 solid 1px;
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-weight: 500;
    font-size: 18px;
}



footer {
    height: 402px;
    background-image: url(../../assets/img/20.jpg);
    background-size: cover;
}


footer .container {
    height: 402px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .leftblockf {
    display: flex;
    flex-direction: column;
}

.leftblockf .mimi {
    font-size: 32px;
    font-family: Corm;
    color: #f1e9de;
}

.natu {
    margin-top: 20px;
}

.tegmimi {
    margin-top: 50px;
}

footer .miminatu {
    display: flex;
    flex-direction: column;
}

.midblockf {
    display: flex;
    flex-direction: column;
}

.adres {
    margin-top: 15px;
}

.rightblockf {
    display: flex;
    justify-content: space-between;
}

.mestofoico {
    height: 50px;
    width: 50px;
    border: #756b62 solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.ico {
    width: 30px;
    height: 30px;
}

.label_for_input {
    background-color: transparent;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #333 solid 1px;
    border-radius: 50%;
}

.label_for_input .circle {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
}

#R1:checked~label .circle {

    background: #756b62;
}

#R2:checked~label .circle {
    background: #756b62;
}

#R3:checked~label .circle {
    background: #756b62;
}

.forma .inputs .megainput input {
    display: none;
}

.kva {
    display: none;
}

.label_for_inputkva {
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #333 solid 1px;
    border-radius: 15%;
}

.label_for_inputkva .circle {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
}

#p1:checked~label .circle {
    background: #756b62;
}



/* Медиа запросы
Медиа запросы
Медиа запросы
Медиа запросы
Медиа запросы
Медиа запросы */

@media (max-width: 1220px) {
    .container {
        width: 1140px;
    }

    header .container {
        width: 950px;
    }

    .section-mchg .skin {
        width: 470px;
        height: 620px;
    }

    .watermark {
        width: 90px;
        height: 90px;
        left: 870px;
    }

    .milo {
        width: 220px;
        height: 220px;
        bottom: 500px;
        left: 50px;
    }

    .mchg {
        font-size: 70px;
    }

    .hand {
        width: 150px;
        height: 150px;
        left: 180px;
    }

    .love {
        font-size: 50px;
    }

    .telo {
        left: 800px;
    }

    .section-collection .container .linecolle {
        margin-left: 400px;
    }

    .section-collection .collections {
        flex-direction: column;
        align-items: center;

    }

    .section-collection .collections .block {
        margin-top: 50px;

    }

    .section-history .caple {
        width: 240px;
        height: 240px;
        left: 250px;
    }

    .section-history .ruka {
        width: 370px;
        height: 610px;
        left: 550px;
    }

    .section-history .rose {
        left: 200px;
        top: 180px
    }

    .section-history .hisline {
        margin-left: 50px;
    }

    .section-history .minmain {
        margin-left: 50px;
    }

    .section-bigtext .bgtxtmain {
        font-size: 75px;
        margin-right: 350px;
    }

    .section-bigtext .woeye {
        width: 400px;
        height: 220px;
        left: 340px;
        margin-top: 50px;
    }

    .section-bigtext .txtintoimg {

        font-size: 15px;
    }

    .section-bigtext .read {

        margin-left: 100px;
    }



    .section-images .kartinki {
        display: flex;

        align-items: center;

    }

    .section-images .milos {
        margin-top: 15px;
        width: 270px;
        height: 270px;
    }

    .section-zayav .container .topzay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    footer {
        margin-top: 100px;
    }

    footer .container {
        flex-direction: column;

    }

    footer .miminatu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tegmimi {
        display: flex;
        justify-content: center;
    }

    .adres {
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 960px;
    }

    header .container .lefth {

        margin-left: 100px;
        font-size: 12px;

    }

    header .container .righth {

        margin-right: 100px;
        font-size: 12px;
    }

    .mimilo {

        font-size: 20px;

    }

    .section-mchg .skin {

        width: 270px;
        height: 420px;
        background-size: cover;

    }

    .mchg {

        font-size: 60px;

        left: 100px;

    }

    .milo {
        width: 140px;
        height: 140px;
        position: absolute;
        bottom: 400px;
        left: 150px;

    }

    .hand {
        width: 130px;
        height: 130px;

        left: 200px;
    }

    .section-mchg {
        margin-left: -200px;

    }

    .watermark {
        width: 70px;
        height: 70px;
        left: 620px;
        bottom: -30px;


    }

    .lovesoap {
        margin-right: -230px;

    }

    .telo {

        width: 100px;
        height: 150px;

        left: 750px;
        bottom: -30px;
    }

    .love {

        font-size: 30px;

    }

    .section-collection .container .line {

        width: 40px;

    }

    .section-collection .container .textcollection {
        font-size: 10px;
    }

    .section-collection .second {
        width: 270px;
        height: 320px;
    }

    .section-collection .first {
        width: 270px;
        height: 320px;
    }

    .section-collection .plusmain {
        font-size: 25px;
    }

    .section-collection .plus {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: #999088 solid 1px;

    }

    .section-history .topxtx {
        font-size: 30px;
        font-family: Corm;
        color: #756b62;
        font-style: italic;
    }

    .section-history .botttxt {
        font-family: Corm;
        font-style: italic;
        font-size: 17px;
        margin-top: 25px;
    }

    .section-history .woman {
        height: 50px;
        width: 50px;
        border: none solid 1px;
        border-radius: 50%;
    }

    .section-history .ruka {
        background-image: url(../../assets/img/11.jpg);
        width: 220px;
        height: 400px;
        position: absolute;
        left: 400px;
        bottom: -200px;
        background-size: cover;
    }

    .section-history .caple {
        background-image: url(../../assets/img/12.jpg);
        width: 170px;
        height: 170px;
        position: absolute;
        left: 190px;
        bottom: -220px;
        background-size: cover;
    }

    .section-history .rose {
        position: relative;
        left: 150px;
        top: -30px;
    }

    .section-history {
        margin-top: 400px;
        margin-right: -200px;
    }

    .section-3blocks .container {
        display: flex;

        flex-direction: column;

        align-items: center;
    }

    .section-3blocks .block {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .section-bigtext .container {
        width: 960px;
        justify-content: center;

    }

    .section-bigtext .bgtxtmain {
        font-size: 50px;
        font-family: Corm;
        font-style: normal;
        font-weight: 500;
        color: #bdb4ab;
        line-height: 70px;
        margin-right: -10px;

    }

    .section-bigtext .woeye {

        top: 30px;
        left: 320px;
        width: 330px;
        height: 150px;
        background-size: cover;
    }

    .section-bigtext .txtintoimg {

        font-size: 12px;
        margin-top: 20px;
    }

    .section-bigtext .read {

        margin-left: 70px;
        margin-bottom: 10px;
    }

    .section-images .milos {
        width: 150px;
        height: 150px;

    }

    .section-bigtext .instrekl {
        margin-left: 90px;
    }

    .section-zayav {


        background-size: cover;
        height: 634px;
    }

    .section-zayav .top {
        font-size: 35px;

    }

    .section-zayav .bot {
        font-size: 20px;

    }

    .section-zayav .namephone {
        margin-left: 40px;
    }


    .section-zayav .namephone input {

        width: 350px;
        font-size: 13px;
    }

    .section-zayav .container {
        margin-bottom: 100px;
    }

    .section-zayav .container .topzay {
        margin-top: 0;
    }

    .section-zayav {
        margin-top: 100px;
    }

    footer {
        margin-top: 0;
    }


}



@media (max-width: 780px) {
    .container {
        width: 720px;
    }

    header {
        margin-left: 0px;
    }

    header .container {
        width: 800px;
    }

    header .container .lefth {


        font-size: 10px;

    }


    header .container .righth {

        margin-left: 50px;
        font-size: 10px;
    }

    .mimilo {
        margin-left: 50px;
        font-size: 17px;

    }

    .section-mchg .skin {

        width: 170px;
        height: 320px;
        background-size: cover;

    }

    .mchg {

        font-size: 40px;

        left: 100px;

    }

    .milo {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 300px;
        left: 120px;

    }

    .hand {
        width: 100px;
        height: 100px;

        left: 150px;
    }

    .section-mchg {
        margin-left: -200px;

    }

    .watermark {
        width: 70px;
        height: 70px;
        left: 390px;
        bottom: -30px;


    }

    .lovesoap {
        margin-right: -340px;

    }

    .telo {

        width: 100px;
        height: 150px;

        left: 600px;
        bottom: -30px;
    }

    .love {

        font-size: 25px;

    }

    .section-collection .container .line {

        width: 30px;

    }

    .section-collection .container .linecolle {
        margin-left: 300px;
    }

    .section-collection .container .textcollection {
        font-size: 10px;
    }

    .section-collection .second {
        width: 200px;
        height: 250px;
    }

    .section-collection .first {
        width: 200px;
        height: 250px;
    }

    .section-collection .plusmain {
        font-size: 20px;
    }

    .section-collection .plus {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: #999088 solid 1px;

    }

    .section-collection .txtall {
        font-size: 10px;
    }

    .section-history .topxtx {
        font-size: 25px;
        font-family: Corm;
        color: #756b62;
        font-style: italic;
    }

    .section-history .botttxt {
        font-family: Corm;
        font-style: italic;
        font-size: 14px;
        margin-top: 25px;
    }

    .section-history .woman {
        height: 40px;
        width: 40px;
        border: none solid 1px;
        border-radius: 50%;
    }

    .section-history .ruka {
        background-image: url(../../assets/img/11.jpg);
        width: 170px;
        height: 350px;
        position: absolute;
        left: 320px;
        bottom: -50px;
        background-size: cover;
    }

    .section-history .caple {
        background-image: url(../../assets/img/12.jpg);
        width: 130px;
        height: 130px;
        position: absolute;
        left: 150px;
        bottom: -110px;
        background-size: cover;
    }

    .creator .name {
        font-size: 10px;
    }

    .creator .roly {
        font-size: 10px;
    }

    .section-history .rose {
        position: relative;
        left: 146px;
        height: 400px;
        width: 70px;
        top: 75px;
    }

    .section-history {
        margin-top: 400px;
        margin-right: -200px;
    }

    .section-3blocks .container {
        display: flex;

        flex-direction: column;

        align-items: center;
    }

    .section-3blocks .block .txt {
        font-size: 15px;
    }

    .section-3blocks .block {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .section-bigtext .container {
        width: 960px;
        justify-content: center;

    }

    .section-bigtext .bgtxtmain {
        font-size: 50px;
        font-family: Corm;
        font-style: normal;
        font-weight: 500;
        color: #bdb4ab;
        line-height: 70px;
        margin-left: -150px;

    }

    .section-bigtext .woeye {

        top: 30px;
        left: 250px;
        width: 330px;
        height: 150px;
        background-size: cover;
    }

    .section-bigtext .txtintoimg {

        font-size: 12px;
        margin-top: 20px;
    }

    .section-bigtext .read {

        margin-left: 70px;
        margin-bottom: 10px;
    }

    .section-images .milos {
        width: 150px;
        height: 150px;

    }

    .section-bigtext .instrekl {
        margin-left: 50px;
    }

    .section-zayav {


        background-size: cover;
        height: 634px;
    }

    .section-zayav .top {
        font-size: 35px;

    }

    .section-zayav .bot {
        font-size: 20px;

    }

    .section-zayav .namephone {
        margin-left: 40px;
    }


    .section-zayav .namephone input {

        width: 350px;
        font-size: 13px;
    }

    .section-zayav .container {
        margin-bottom: 100px;
    }

    .section-zayav .container .topzay {
        margin-top: 0;
    }

    .section-zayav {
        margin-top: 100px;
    }

    footer {
        margin-top: 0;
    }




}

@media (max-width: 690px) {
    .container {
        width: 500px;
    }

    header {
        margin-left: 0px;
    }

    header .container {
        width: 600px;
    }

    header .container .lefth {


        font-size: 10px;

    }


    header .container .righth {

        margin-left: 50px;
        font-size: 10px;
    }

    .mimilo {
        margin-left: 50px;
        font-size: 17px;

    }


    .section-mchg {
        margin-left: 80px;
    }

    .lovesoap {
        margin-right: -20px;

    }

    .telo {
    
        width: 100px;
        height: 150px;
      
        left: 300px;
        bottom: -30px;
    }

    .section-collection .container .linecolle {
        margin-left: 200px;
    }

    .section-history  {

        margin-left: -200px;

    }

    .section-3blocks .block .txt {
        font-size: 11px;
    }

    .section-bigtext  {
        margin-left: -90px;

    }



}